@charset "UTF-8";


/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-04-13 10:32:12
 * @version $Id$
 */


/*初始化*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

body {
    background-color: #f3f3f3;
    overflow-x: hidden;
    font: 14px Arial, "微软雅黑";
    color: #666;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
em,
strong,
th {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #0277bd;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input,
textarea,
select {
    *font-size: 100%;
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body,
a,
ul,
li,
i,
img,
h1,
p,
article,
header,
.trans,
.article-title,
.gotop,
.search,
input,
aside,
.category-article,
.single-article,
.side-nav,
.sgi-letter-avatar {
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    transition: linear .3s;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.scale {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}